.side_nav{
    /* width: 15%; */
    /* padding: 4% 2%; */
    width: 220px;
    height: 100vh;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(40px);
}
.inner_nav{
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}