.side_nav{
    /* width: 15%; */
    /* padding: 4% 2%; */
    width: 220px;
    height: 100vh;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    gap: 40px;
    background: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(40px);
    width: 220px;
}
.inner_nav{
    width: 96%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}