.side{
    width: 24%;
    float: left;
    padding: 4% 2%;
    display: flex;
width: 169.95px;
height: 736.45px;
padding: 35.406px 7.081px;
display: flex;
flex-direction: column;
/* align-items: flex-start;
gap: 194.734px; */
align-items: center;
gap: 28.325px;
background-color: beige;
/* background: rgba(100, 100, 100, 0.80); */
}