.table-container {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 2% 0; 
    background: rgba(176, 176, 176, 0.20);
    backdrop-filter: blur(5px);
}


.portfolio-table th {
background: #f1f1f1;
text-align: left;
padding: 14px;
font-weight: 600;
font-size: 14px;
color: #333;
}


.portfolio-table td {
padding: 14px;
border-bottom: 1px solid #e6e6e6;
font-size: 14px;
color: #555;
}


.portfolio-table tr:last-child td {
border-bottom: none;
}

.add-project-btn{
    width: 130px;
    border-radius: 20px;
    color: var(--bg_color);
    font-family: var(--font_2);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6%;
}
