.num{
    width: 80px;
    height: 80px;
    padding: 0 3% 4%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(92deg, rgba(84, 241, 233, 1) 0.24%, rgba(69, 87, 200, 1) 100%);
}