:root{
    --h1: 4vw;
    --h2: 2.2vw;
    --h3: 1.8vw;
    --p: 1.4vw;
    --font_1: 'party vibes';
    --font_2:  'Nunito', sans-serif;;
    --bg_color: #150633;
    --main_color: #ffffff;
    --primary_color: #54F1E9;
    --secondry_color: #4557C8;
    --accent_color: #FB8B8F;
    /* --glass_color: # */
  }
body{
    margin: 0;
    padding: 0;
    background-color: #150633;
    background-image: url(./../Assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #FB8B8F; */
}
.body_div{
    width: 100%;
    padding: 0 3% 0 0;
    margin-top: 3%;
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* background-color: aliceblue; */
}
.body_div2{
    width: 80%;
    height: 100vh;
    padding: 0 3% 0 0;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3%;
    float: right;
    /* background-color: bisque; */
}

.width_1{
    width: 100%;
}
.card1{
    width: 100%;
    height: auto;
    padding:1% 2%;
    border-radius: 16px;
    align-self: stretch;
    background: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(40px);
}
.card2{
    width: 100%;
    height: auto;
    padding:1% 2%;
    border-radius: 16px;
   align-self: stretch;
    background: rgba(100, 100, 100, 0.25);
    backdrop-filter: blur(40px);
}
.card_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.chart{
    position: absolute;
    z-index: 2;
}
.relative{
    position: relative;
    display: flex;
        align-items: center;
    justify-content: center;
}
