.prome{
    /* position: fixed; */
    /* z-index: 8; */
    margin-top: -50%;
}
.num2{
    width: 80px;
    height: 80px;
    padding: 3% 3% 4% ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: linear-gradient(92deg, rgba(84, 241, 233, 1) 0.24%, rgba(69, 87, 200, 1) 100%);
}
.load_div{
    display: flex;
    align-items: start;
    justify-content: start;
}
.loader{
width: 100%;
height: 8px;
border-radius: 40px 0  0 40px;
background: var(--Gradient, linear-gradient(92deg, #54F1E9 0.24%, #4557C8 100%));
}
.loader2{
width: 100%;
height: 8px;
border-radius: 0  40px  40px 0;
background: var(--Glass-color, #B0B0B0);
}
.card_column2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0vh;
}
.profile_div{
    width: 80px;
    height: 120px;
    padding: 4px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0vh;
    /* flex: 1 0 0; */
    border-radius: 14px;
    border: 2px solid var(--White, #FFF);
    box-shadow: 0 16.297px 36.215px 0 rgba(112, 144, 176, 0.12);
}
.bottom{
    margin-bottom: 3%;
}