.projects-page {
  width: 100%;
  height: 100vh;
  /* background: blue; */
}

@media (max-width: 900px) {
  .side_nav {
    width: 180px;
  }

  .projects-content {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}

@media (max-width: 700px) {
  .side_nav {
    position: relative;
    width: 100%;
    height: auto;
  }

}