/* .projects-page {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;}

.table-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 900px) {

  .projects-content {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 700px) {
  .projects-page {
    flex-direction: column;
  }

  .projects-content {
    margin-left: 0;
    width: 100%;
  }
} */