.projects-page {
  width: 100%;
  height: 100vh;
  /* background: blue; */
}
.projects-content {

  padding: 30px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .side_nav {
    width: 180px;
  }

  .projects-content {
    margin-left: 180px;
    width: calc(100% - 180px);
  }
}

@media (max-width: 700px) {
  .side_nav {
    position: relative;
    width: 100%;
    height: auto;
  }

  .projects-content {
    margin-left: 0;
    width: 100%;
  }
}