.action-buttons {
    width: 70%;
display: flex;
gap: 10px;
/* background-color: aqua; */
}


.action-button {
background: none;
border: none;
cursor: pointer;
color: var(--main_color);
padding: 6px;
border-radius: 6px;
transition: 0.2s ease;
}


.action-button:hover {
    background: rgba(176, 176, 176, 0.20);
    backdrop-filter: blur(5px);
}


@media (max-width: 768px) {
.action-buttons {
gap: 6px;
}
}