.table-row td {
    /* width: 30%; */
    padding: 14px;
    border-bottom: 1px solid #e6e6e6;
    color:  var(--main_color);
    text-align: start;
    font-family: var(--font_2);
    font-size: 20px;
    font-weight: 500;
    /* gap: 40%; */
}


.table-row:last-child td {
border-bottom: none;
}

.hero_img {
  width: 50%;
  border-radius: 6px;
}

.thumb_img {
  width: 60%;
  border-radius: 6px;
}


@media (max-width: 10000px) {
.table-row td {
padding: 10px;
}
}

/* .row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
