.table-row td {
    width: 100%;
    padding: 14px;
    border-bottom: 1px solid #e6e6e6;
    color:  var(--main_color);
    text-align: center;
    font-family: var(--font_2);
    font-size: 20px;
    font-weight: 500;
}


.table-row:last-child td {
border-bottom: none;
}


@media (max-width: 10000px) {
.table-row td {
padding: 10px;
}
}


/* .row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
