.table-row td {
  padding: 14px;
  border-bottom: 1px solid #e6e6e6;
  color: var(--main_color);
  text-align: start;
  font-family: var(--font_2);
  font-size: 20px;
  font-weight: 500;
}

.table-row:last-child td {
  border-bottom: none;
}

.hero_img {
  width: 50%;
  border-radius: 6px;
}

.thumb_img {
  width: 60%;
  border-radius: 6px;
}


@media (max-width: 1024px) {
  .table-row td {
    font-size: 16px;
    padding: 12px;
  }

    .hero_img {
    width: 70%;
  }

  .thumb_img {
    width: 75%;
  }
}

/* .row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */

@media (max-width: 1024px) {
  .table-row td {
      font-size: 14px;
      padding: 10px;
    }
    
  .hero_img,
  .thumb_img {
    width: 100%;
  }
}