/* Container layout */
.toggle-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 18px 0;
  font-size: 20px;
  color: white;
}

/* Switch Base */
.toggle-switch {
  position: relative;
  width: 55px;
  height: 28px;
  display: inline-block;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider shape */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d5d5d5;
  border-radius: 40px;
  transition: 0.25s ease;
}

/* Circle */
.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.25s ease;
}

/* When checked — glowing aqua gradient */
input:checked + .slider {
  background: linear-gradient(135deg, #38f0c0, #3a7bff);
}

/* Move circle right */
input:checked + .slider:before {
  transform: translateX(27px);
}

/* Label spacing */
.label{
    font-family: var(--font_2);
    font-size: 20px;
    color:  var(--main_color);
    text-align: center;
    font-family: var(--font_2);
    /* font-weight: 400; */
}
